In [19]:
import pandas as pd
from datetime import datetime
import numpy as np

In [20]:
#提取四川省2020年空气质量数据
path = r'C:\Users\zzsgdsg7\Desktop\zz_literature\data\2020_site1.csv'
data = pd.read_csv(path,dtype={'date':str,'hour':str})
sichuan_data = data.loc[:,['date','hour','type','1431A','1432A','1433A','1434A','1435A','1437A','1438A','1878A','1879A','1880A','1881A','1882A','1883A','1884A','1885A','1886A','1887A',
'1888A','1889A','1890A','1891A','1893A','1894A','1895A','1896A','1897A','1898A','1899A','1900A','1901A','1902A','1903A','1904A','1905A',
'1906A','1907A','1908A','1909A','1910A','2523A','2524A','2525A','2526A','2527A','2528A','2529A','2530A','2531A','2532A','2533A','2534A','2535A','2536A',
'2537A','2538A','2539A','2540A','2541A','2542A','2543A','2544A','2545A','2546A','2547A','2548A','2549A','2550A','2551A','2552A','2553A','2554A',
'2555A','2556A','2557A','2558A','2559A','2560A','2561A','2562A','2563A','2564A','2565A','2566A','2567A','2568A','2569A','2570A','2571A','2572A',
'2573A','2574A','2575A','2835A','2880A','2902A','2914A','2915A','3027A','3028A','3065A','3136A','3137A','3148A','3182A','3183A']]

In [21]:
sichuan_data.head()

,date,hour,type,1431A,1432A,1433A,1434A,1435A,1437A,1438A,...,2914A,2915A,3027A,3028A,3065A,3136A,3137A,3148A,3182A,3183A
0,20200101,0,AQI,172.0,139.0,147.0,142.0,NaN,158.0,115.0,...,54.0,74.0,185.0,160.0,34.0,134.0,94.0,112.0,64.0,69.0
1,20200101,0,PM2.5,130.0,106.0,112.0,108.0,NaN,120.0,87.0,...,38.0,54.0,139.0,122.0,18.0,102.0,70.0,84.0,46.0,50.0
2,20200101,0,PM2.5_24h,110.0,109.0,111.0,106.0,NaN,122.0,84.0,...,67.0,78.0,121.0,122.0,13.0,100.0,75.0,72.0,68.0,75.0
3,20200101,0,PM10,164.0,138.0,152.0,143.0,NaN,143.0,121.0,...,41.0,72.0,167.0,146.0,34.0,126.0,92.0,96.0,52.0,61.0
4,20200101,0,PM10_24h,154.0,156.0,150.0,146.0,NaN,149.0,122.0,...,73.0,106.0,154.0,158.0,24.0,127.0,104.0,112.0,83.0,92.0

In [22]:
#设置时间戳
sichuan_data['hour'] = sichuan_data['hour'].astype(int) 
#for i in sichuan_data['hour']:
    #print(type(i))
#print(type(sichuan_data['hour']))
sichuan_data['time'] =pd.to_datetime(sichuan_data['date'])+pd.TimedeltaIndex(sichuan_data['hour'],unit='H')#这种方法是因为hour是整数型，故合并成一个新列，采用pandas标准的时间戳形式
#sichuan_data.info()
sichuan_data = sichuan_data.drop(columns =[ 'date','hour'])#去除data列和hour列
sichuan_data=sichuan_data.set_index('time')
sichuan_data.head()

,type,1431A,1432A,1433A,1434A,1435A,1437A,1438A,1878A,1879A,...,2914A,2915A,3027A,3028A,3065A,3136A,3137A,3148A,3182A,3183A
time,,,,,,,,,,,,,,,,,,,,,
2020-01-01,AQI,172.0,139.0,147.0,142.0,NaN,158.0,115.0,134.0,115.0,...,54.0,74.0,185.0,160.0,34.0,134.0,94.0,112.0,64.0,69.0
2020-01-01,PM2.5,130.0,106.0,112.0,108.0,NaN,120.0,87.0,102.0,87.0,...,38.0,54.0,139.0,122.0,18.0,102.0,70.0,84.0,46.0,50.0
2020-01-01,PM2.5_24h,110.0,109.0,111.0,106.0,NaN,122.0,84.0,71.0,83.0,...,67.0,78.0,121.0,122.0,13.0,100.0,75.0,72.0,68.0,75.0
2020-01-01,PM10,164.0,138.0,152.0,143.0,NaN,143.0,121.0,105.0,117.0,...,41.0,72.0,167.0,146.0,34.0,126.0,92.0,96.0,52.0,61.0
2020-01-01,PM10_24h,154.0,156.0,150.0,146.0,NaN,149.0,122.0,100.0,115.0,...,73.0,106.0,154.0,158.0,24.0,127.0,104.0,112.0,83.0,92.0

In [70]:
#提取各项污染物数据
AQI = sichuan_data[sichuan_data['type'].isin(['AQI'])].drop(columns = 'type')#提取type列中为AQI标签的所有数据,并删除type列，保留其余所有数据
print(AQI)
pm25 = sichuan_data[sichuan_data['type'].isin(['PM2.5'])].drop(columns = 'type')
pm10 = sichuan_data[sichuan_data['type'].isin(['PM10'])].drop(columns = 'type')
so2 = sichuan_data[sichuan_data['type'].isin(['SO2'])].drop(columns = 'type')
no2 = sichuan_data[sichuan_data['type'].isin(['NO2'])].drop(columns = 'type')
o3 = sichuan_data[sichuan_data['type'].isin(['O3'])].drop(columns = 'type')
co = sichuan_data[sichuan_data['type'].isin(['CO'])].drop(columns = 'type')

AQI.count()#查看每列的非NA单元格的数量

                     1431A  1432A  1433A  1434A  1435A  1437A  1438A  1878A  \
time
2020-01-01 00:00:00  172.0  139.0  147.0  142.0    NaN  158.0  115.0  134.0
2020-01-01 01:00:00  148.0  142.0  147.0  137.0    NaN  150.0  119.0  124.0
2020-01-01 02:00:00  149.0  145.0  152.0  135.0    NaN  133.0  120.0  120.0
2020-01-01 03:00:00  142.0  155.0  156.0  140.0    NaN  132.0  138.0  123.0
2020-01-01 04:00:00  139.0  152.0  158.0  127.0    NaN  119.0  127.0  127.0
...                    ...    ...    ...    ...    ...    ...    ...    ...
2020-12-31 19:00:00   69.0   64.0   74.0   65.0    NaN   72.0   65.0   55.0
2020-12-31 20:00:00   82.0   65.0   62.0   64.0    NaN   69.0   75.0   56.0
2020-12-31 21:00:00   87.0   67.0   60.0   70.0    NaN   69.0   75.0   58.0
2020-12-31 22:00:00  102.0   67.0   61.0   79.0    NaN   72.0   82.0   65.0
2020-12-31 23:00:00  103.0   70.0   62.0   75.0    NaN   69.0   83.0   73.0

                     1879A  1880A  ...  2914A  2915A  3027A  3028A  3065A  \
time                               ...
2020-01-01 00:00:00  115.0   80.0  ...   54.0   74.0  185.0  160.0   34.0
2020-01-01 01:00:00  117.0   82.0  ...   55.0   72.0  190.0  170.0   22.0
2020-01-01 02:00:00  125.0   95.0  ...   57.0   68.0  172.0  180.0   29.0
2020-01-01 03:00:00  124.0  109.0  ...   57.0   67.0  170.0  169.0   22.0
2020-01-01 04:00:00  119.0  124.0  ...   58.0   65.0  169.0  170.0   21.0
...                    ...    ...  ...    ...    ...    ...    ...    ...
2020-12-31 19:00:00   53.0   56.0  ...   80.0    NaN   86.0   29.0   71.0
2020-12-31 20:00:00    NaN   58.0  ...  156.0    NaN  108.0   48.0   71.0
2020-12-31 21:00:00    NaN   69.0  ...  127.0    NaN  119.0   32.0   74.0
2020-12-31 22:00:00   68.0   74.0  ...  115.0    NaN  113.0   23.0   73.0
2020-12-31 23:00:00   70.0   77.0  ...  114.0    NaN  119.0   22.0   74.0

                     3136A  3137A  3148A  3182A  3183A
time
2020-01-01 00:00:00  134.0   94.0  112.0   64.0   69.0
2020-01-01 01:00:00  140.0   93.0  105.0   62.0   74.0
2020-01-01 02:00:00  140.0  120.0  130.0   60.0   78.0
2020-01-01 03:00:00  138.0  105.0  124.0   53.0   74.0
2020-01-01 04:00:00  145.0  127.0  117.0   52.0   73.0
...                    ...    ...    ...    ...    ...
2020-12-31 19:00:00   70.0   65.0   41.0   67.0    NaN
2020-12-31 20:00:00   67.0   65.0   41.0  115.0    NaN
2020-12-31 21:00:00   69.0   68.0   41.0  127.0    NaN
2020-12-31 22:00:00   66.0   65.0   41.0  109.0    NaN
2020-12-31 23:00:00   65.0   54.0   46.0   89.0    NaN

[8746 rows x 105 columns]

1431A    8280
1432A    8380
1433A    8462
1434A    8427
1435A       0
         ...
3136A    8357
3137A    8453
3148A    8464
3182A    3612
3183A    7899
Length: 105, dtype: int64

In [73]:
#输出文件查看
SaveFile_Path = r'C:\Users\zzsgdsg7\Desktop'  # 拼接后要保存的文件路径
SaveFile_Name = r'site_AQI2020.csv'  # 合并后要保存的文件名
#file_save(AQI)
#for indexs in o3.columns:
    #col_null = o3[indexs].isnull().sum(axis = 0)#统计空值单元格的数目
    #if col_null >= 4373:
        #o3 = o3.drop(columns = indexs)
     
AQI.to_csv(SaveFile_Path + '\\' + SaveFile_Name , encoding="utf_8_sig")

In [74]:
#数据预处理,处理空值

def knn_mean(ts, n):
    out = np.copy(ts)
    for i, val in enumerate(ts):
        if np.isnan(val):#判断值是否是空
            n_by_2 = np.ceil(n/2)
            lower = np.max([0, int(i-n_by_2)])
            upper = np.min([len(ts)+1, int(i+n_by_2)])
            ts_near = np.concatenate([ts[lower:i], ts[i:upper]])
            out[i] = np.nanmean(ts_near)
    return out

def file_save(data):#筛选出空值太多的列
    for indexs in data.columns:
        col_null = data[indexs].isnull().sum(axis = 0)
        if col_null >= 4373:
            data = data.drop(columns = indexs)
    return data

In [75]:

for indexs in AQI.columns:
    if indexs =='time':
        continue
    col_null = col_null = AQI[indexs].isnull().sum(axis = 0)
    print(indexs,end='-')
    print(col_null)
    '''if col_null < 1100:
        AQI[indexs] = knn_mean(AQI[indexs].values,24)
    if col_null > 1100:
        AQI = AQI.drop(columns = indexs)    
    '''

1431A-466
1432A-366
1433A-284
1434A-319
1435A-8746
1437A-362
1438A-749
1878A-236
1879A-288
1880A-331
1881A-326
1882A-279
1883A-318
1884A-273
1885A-263
1886A-5744
1887A-3407
1888A-397
1889A-331
1890A-439
1891A-277
1893A-302
1894A-377
1895A-314
1896A-246
1897A-5726
1898A-8746
1899A-3344
1900A-293
1901A-233
1902A-262
1903A-445
1904A-169
1905A-139
1906A-260
1907A-124
1908A-231
1909A-303
1910A-243
2523A-231
2524A-253
2525A-301
2526A-299
2527A-316
2528A-264
2529A-300
2530A-341
2531A-583
2532A-494
2533A-299
2534A-352
2535A-218
2536A-337
2537A-296
2538A-392
2539A-5748
2540A-5714
2541A-3408
2542A-3285
2543A-456
2544A-5739
2545A-227
2546A-3365
2547A-220
2548A-199
2549A-217
2550A-159
2551A-5723
2552A-317
2553A-3162
2554A-239
2555A-5740
2556A-5737
2557A-8746
2558A-8746
2559A-3438
2560A-3287
2561A-207
2562A-259
2563A-248
2564A-695
2565A-434
2566A-562
2567A-5711
2568A-274
2569A-3503
2570A-217
2571A-337
2572A-269
2573A-256
2574A-250
2575A-200
2835A-321
2880A-277
2902A-304
2914A-5174
2915A-1016
3027A-421
3028A-346
3065A-363
3136A-389
3137A-293
3148A-282
3182A-5134
3183A-847

In [ ]:
def drop_lie(data):
    for indexs in data:
        col_null = data[indexs].isnull().sum(axis = 0)#统计空值单元格的数目
        if col_null >= 1100:
        data = data.drop(columns = indexs) 
    return data