In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
#提取四川省2020年空气质量数据
path = r'C:\Users\zzsgdsg7\Desktop\2021_site.csv'
data = pd.read_csv(path,dtype={'date':str,'hour':str})
sichuan_data = data.loc[:,['date','hour','type','1431A','1432A','1433A','1434A','1435A','1437A','1438A','1878A','1879A','1880A','1881A','1882A','1883A','1884A','1885A','1886A','1887A',
'1888A','1889A','1890A','1891A','1893A','1894A','1895A','1896A','1897A','1898A','1899A','1900A','1901A','1902A','1903A','1904A','1905A',
'1906A','1907A','1908A','1909A','1910A','2523A','2524A','2525A','2526A','2527A','2528A','2529A','2530A','2531A','2532A','2533A','2534A','2535A','2536A',
'2537A','2538A','2539A','2540A','2541A','2542A','2543A','2544A','2545A','2546A','2547A','2548A','2549A','2550A','2551A','2552A','2553A','2554A',
'2555A','2556A','2557A','2558A','2559A','2560A','2561A','2562A','2563A','2564A','2565A','2566A','2567A','2568A','2569A','2570A','2571A','2572A',
'2573A','2574A','2575A','2835A','2880A','2902A','2914A','2915A','3027A','3028A','3065A','3136A','3137A','3148A','3182A','3183A']]

In [3]:
sichuan_data.head()

,date,hour,type,1431A,1432A,1433A,1434A,1435A,1437A,1438A,...,2914A,2915A,3027A,3028A,3065A,3136A,3137A,3148A,3182A,3183A
0,20210101,0,AQI,103.0,68.0,65.0,74.0,NaN,69.0,85.0,...,69.0,105.0,117.0,92.0,28.0,64.0,68.0,65.0,73.0,65.0
1,20210101,0,PM2.5,77.0,49.0,44.0,54.0,NaN,50.0,63.0,...,50.0,79.0,88.0,68.0,18.0,46.0,46.0,45.0,53.0,47.0
2,20210101,0,PM2.5_24h,61.0,52.0,51.0,54.0,NaN,58.0,41.0,...,35.0,48.0,68.0,64.0,10.0,49.0,43.0,50.0,40.0,39.0
3,20210101,0,PM10,95.0,86.0,79.0,92.0,NaN,84.0,82.0,...,71.0,126.0,140.0,117.0,28.0,64.0,86.0,80.0,86.0,72.0
4,20210101,0,PM10_24h,79.0,84.0,83.0,84.0,NaN,80.0,57.0,...,51.0,80.0,103.0,93.0,21.0,73.0,74.0,81.0,65.0,60.0

In [4]:
#设置时间戳
sichuan_data['hour'] = sichuan_data['hour'].astype(int) 
#for i in sichuan_data['hour']:
    #print(type(i))
#print(type(sichuan_data['hour']))
sichuan_data['time'] =pd.to_datetime(sichuan_data['date'])+pd.TimedeltaIndex(sichuan_data['hour'],unit='H')#这种方法是因为hour是整数型，故合并成一个新列，采用pandas标准的时间戳形式
#sichuan_data.info()
sichuan_data = sichuan_data.drop(columns =[ 'date','hour'])#去除data列和hour列
sichuan_data=sichuan_data.set_index('time')
sichuan_data.head()

,type,1431A,1432A,1433A,1434A,1435A,1437A,1438A,1878A,1879A,...,2914A,2915A,3027A,3028A,3065A,3136A,3137A,3148A,3182A,3183A
time,,,,,,,,,,,,,,,,,,,,,
2021-01-01,AQI,103.0,68.0,65.0,74.0,NaN,69.0,85.0,57.0,79.0,...,69.0,105.0,117.0,92.0,28.0,64.0,68.0,65.0,73.0,65.0
2021-01-01,PM2.5,77.0,49.0,44.0,54.0,NaN,50.0,63.0,40.0,58.0,...,50.0,79.0,88.0,68.0,18.0,46.0,46.0,45.0,53.0,47.0
2021-01-01,PM2.5_24h,61.0,52.0,51.0,54.0,NaN,58.0,41.0,37.0,45.0,...,35.0,48.0,68.0,64.0,10.0,49.0,43.0,50.0,40.0,39.0
2021-01-01,PM10,95.0,86.0,79.0,92.0,NaN,84.0,82.0,54.0,68.0,...,71.0,126.0,140.0,117.0,28.0,64.0,86.0,80.0,86.0,72.0
2021-01-01,PM10_24h,79.0,84.0,83.0,84.0,NaN,80.0,57.0,53.0,66.0,...,51.0,80.0,103.0,93.0,21.0,73.0,74.0,81.0,65.0,60.0

In [5]:
#提取各项污染物数据
AQI = sichuan_data[sichuan_data['type'].isin(['AQI'])].drop(columns = 'type')#提取type列中为AQI标签的所有数据,并删除type列，保留其余所有数据
print(AQI)
pm25 = sichuan_data[sichuan_data['type'].isin(['PM2.5'])].drop(columns = 'type')
pm10 = sichuan_data[sichuan_data['type'].isin(['PM10'])].drop(columns = 'type')
so2 = sichuan_data[sichuan_data['type'].isin(['SO2'])].drop(columns = 'type')
no2 = sichuan_data[sichuan_data['type'].isin(['NO2'])].drop(columns = 'type')
o3 = sichuan_data[sichuan_data['type'].isin(['O3'])].drop(columns = 'type')
co = sichuan_data[sichuan_data['type'].isin(['CO'])].drop(columns = 'type')

AQI.count()#查看每列的非NA单元格的数量

                     1431A  1432A  1433A  1434A  1435A  1437A  1438A  1878A  \
time
2021-01-01 00:00:00  103.0   68.0   65.0   74.0    NaN   69.0   85.0   57.0
2021-01-01 01:00:00   99.0   68.0   72.0   77.0    NaN   79.0   90.0   59.0
2021-01-01 02:00:00    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2021-01-01 03:00:00   99.0   70.0   90.0   80.0    NaN   90.0   88.0   67.0
2021-01-01 04:00:00   97.0   73.0  108.0   79.0    NaN   97.0   89.0   69.0
...                    ...    ...    ...    ...    ...    ...    ...    ...
2021-12-31 19:00:00   83.0   82.0   93.0   87.0    NaN  102.0  104.0   69.0
2021-12-31 20:00:00   94.0   93.0  102.0   88.0    NaN  115.0  105.0   68.0
2021-12-31 21:00:00   98.0  105.0  113.0   99.0    NaN  132.0  105.0   72.0
2021-12-31 22:00:00   98.0  110.0  120.0  113.0    NaN  135.0  109.0   77.0
2021-12-31 23:00:00  102.0  113.0  127.0  110.0    NaN  134.0  107.0   83.0

                     1879A  1880A  ...  2914A  2915A  3027A  3028A  3065A  \
time                               ...
2021-01-01 00:00:00   79.0   77.0  ...   69.0  105.0  117.0   92.0   28.0
2021-01-01 01:00:00   79.0   83.0  ...   84.0   88.0  114.0  113.0   23.0
2021-01-01 02:00:00    NaN    NaN  ...    NaN    NaN    NaN    NaN    NaN
2021-01-01 03:00:00   85.0   95.0  ...   67.0    NaN  105.0  120.0   23.0
2021-01-01 04:00:00   88.0   97.0  ...   69.0    NaN   97.0  110.0   26.0
...                    ...    ...  ...    ...    ...    ...    ...    ...
2021-12-31 19:00:00    NaN   65.0  ...  117.0    NaN   90.0   88.0   26.0
2021-12-31 20:00:00    NaN   74.0  ...  114.0    NaN   97.0   94.0   37.0
2021-12-31 21:00:00    NaN   87.0  ...  132.0    NaN  108.0   85.0   33.0
2021-12-31 22:00:00   99.0   94.0  ...  129.0    NaN  107.0   89.0   28.0
2021-12-31 23:00:00   97.0  102.0  ...  129.0    NaN  108.0   90.0   35.0

                     3136A  3137A  3148A  3182A  3183A
time
2021-01-01 00:00:00   64.0   68.0   65.0   73.0   65.0
2021-01-01 01:00:00   67.0   73.0   70.0   65.0   67.0
2021-01-01 02:00:00    NaN    NaN    NaN    NaN    NaN
2021-01-01 03:00:00   70.0   75.0   70.0   64.0   64.0
2021-01-01 04:00:00   73.0   77.0   77.0   60.0   63.0
...                    ...    ...    ...    ...    ...
2021-12-31 19:00:00   85.0  118.0    NaN  119.0  124.0
2021-12-31 20:00:00   94.0  122.0    NaN  134.0  145.0
2021-12-31 21:00:00  103.0  122.0   69.0  143.0  176.0
2021-12-31 22:00:00  100.0   93.0   74.0  158.0  193.0
2021-12-31 23:00:00   99.0  122.0  108.0  147.0  169.0

[8700 rows x 105 columns]

1431A    8313
1432A    8377
1433A    8449
1434A    8450
1435A       0
         ...
3136A    8346
3137A    8435
3148A    8401
3182A    8345
3183A    8537
Length: 105, dtype: int64

In [7]:
#输出文件查看
SaveFile_Path = r'C:\Users\zzsgdsg7\Desktop'  # 拼接后要保存的文件路径
SaveFile_Name = r'site_AQI2021.csv'  # 合并后要保存的文件名
#file_save(AQI)
#for indexs in o3.columns:
    #col_null = o3[indexs].isnull().sum(axis = 0)#统计空值单元格的数目
    #if col_null >= 4373:
        #o3 = o3.drop(columns = indexs)
     
AQI.to_csv(SaveFile_Path + '\\' + SaveFile_Name , encoding="utf_8_sig")

In [8]:
for indexs in AQI.columns:
    if indexs =='time':
        continue
    col_null = col_null = AQI[indexs].isnull().sum(axis = 0)
    print(indexs,end='-')
    print(col_null)

1431A-387
1432A-323
1433A-251
1434A-250
1435A-8700
1437A-327
1438A-895
1878A-433
1879A-334
1880A-288
1881A-292
1882A-256
1883A-323
1884A-289
1885A-282
1886A-262
1887A-8700
1888A-325
1889A-1202
1890A-323
1891A-648
1893A-324
1894A-271
1895A-249
1896A-351
1897A-8698
1898A-8700
1899A-8700
1900A-8698
1901A-345
1902A-197
1903A-8699
1904A-421
1905A-613
1906A-112
1907A-169
1908A-215
1909A-236
1910A-341
2523A-396
2524A-287
2525A-8697
2526A-355
2527A-385
2528A-287
2529A-299
2530A-281
2531A-366
2532A-355
2533A-295
2534A-374
2535A-489
2536A-366
2537A-328
2538A-276
2539A-307
2540A-431
2541A-8700
2542A-8700
2543A-454
2544A-293
2545A-229
2546A-8700
2547A-191
2548A-357
2549A-233
2550A-223
2551A-274
2552A-240
2553A-8700
2554A-240
2555A-363
2556A-380
2557A-8700
2558A-8700
2559A-8700
2560A-8700
2561A-403
2562A-285
2563A-299
2564A-312
2565A-320
2566A-756
2567A-672
2568A-673
2569A-8700
2570A-282
2571A-522
2572A-200
2573A-328
2574A-274
2575A-232
2835A-283
2880A-530
2902A-424
2914A-260
2915A-8698
3027A-164
3028A-210
3065A-343
3136A-354
3137A-265
3148A-299
3182A-355
3183A-163